.details-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.fc-daygrid-day {
  position: relative;
  text-align: center; /* Center align the content within the cell */
}

.fc-daygrid-day .fc-daygrid-day-number {
  margin-bottom: 5px;
}
